#logo {
    width: 200px;
    height: 200px;
    /* İki nöqtə (../../) istifadə edərək kök qovluğa çıxırıq */
    background-image: url('../../assets/holberton-logo (1).jpg');
    background-size: 200px 200px;
}